#pirate-cove {
	/* Font */
	font-family: 'Homemade Apple', cursive;

	/* Center */
	width: 440px;
	height: 560px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	margin: auto;
}

#user-area {
	/* Size, Type */
	width:350px;
	height:125px;
	position: absolute;

	/* Position */
	margin-top: 100px;
	margin-left: 100px;
}